body {
  background: rgb(3,18,54);
  background: radial-gradient(circle, rgba(3,18,54,1) 0%, rgba(13,39,166,1) 21%, rgba(252,70,107,1) 69%, rgba(3,18,54,1) 100%);
  max-width: 550px;
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  font-family: monospace;
  color: white;
  margin-top: 20px;
}

h2 {
  font-size: 23px;
  font-family: monospace;
  color: white;
  margin-top: 50px;
}

p {
  font-size: 16px;
  font-family: 'Times New Roman';
  color: white;
}

a {
  font-size: 16px;
  font-family: 'Times New Roman';
  text-decoration: underline;
  color: white;
}
