html {
  cursor: progress;

}

body {
  background: rgb(3,18,54);
  background: radial-gradient(circle, rgba(3,18,54,1) 0%, rgba(13,39,166,1) 21%, rgba(252,70,107,1) 69%, rgba(3,18,54,1) 100%);
  max-width: 550px;
  margin: 0 auto;
}

footer {
  max-width: 'vw';
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  font-family: monospace;
  color: white;
  margin-top: 20px;
}

h2 {
  font-size: 23px;
  font-family: monospace;
  color: white;
  margin-top: 50px;
}

h3 {
  font-size: 18px;
  font-family: monospace;
  color: white;
  font-weight: bold;
  margin-top: 1px;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  letter-spacing: 0.6px;
  word-spacing: 1px;
  color: #FFFFFF;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

a {
  font-size: 16px;
  font-family: 'Times New Roman';
  text-decoration: underline;
  color: white;
}
